Package: love.litten.lisa
Name: Lisa 💅🏻
Depends: mobilesubstrate, preferenceloader, ws.hbang.common (>= 1.14), firmware (>= 13.0)
Version: 1.4.1
Architecture: iphoneos-arm
Description: Full incoming OLED notifications
Maintainer: Litten
Author: Litten & Esquilli
Section: Tweaks
Depiction: https://repo.litten.love/depictions/lsa/index.html
SileoDepiction: https://repo.litten.love/depictions/lsa/lsa.json
Icon: https://repo.litten.love/depictions/lsa/assets/icon.png
